@model WebApp.Models.Home.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4> Number of people: @Model.PersonCount</h4>
</div>
<div class="text-center">
    <h4>Number of countries: @Model.CountryCount</h4>
</div>
<div class="text-center">
    <h4>Number of states: @Model.StateCount</h4>
</div>
